@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media print {
  body * {
    visibility: hidden;
  }
  
  #invoice-print-area, #invoice-print-area * {
    visibility: visible;
  }

  #invoice-print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}